
.register{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-container{
    display: flex;
    flex-direction: column;
        gap: 10px;

}
.register-container> h2 {
margin-bottom: 10px;
}

.register-container> input{
    height: 30px;
    padding: 10px;
}
 .rButton {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
 
